<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad_p03_group_gg">
    <!-- Permission for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADP03GroupGG">
        <activity
            android:name=".tools.stripe.ConnectWithStripeActivity"
            android:exported="false" />
        <activity
            android:name=".view.ui.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".successListPage"
            android:exported="false" />
        <activity
            android:name=".view.ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".MonthViewActivity"
            android:exported="true" />
        <activity
            android:name=".newlisting"
            android:exported="true"></activity>
        <activity
            android:name=".forget_password_activitiy"
            android:exported="false" />
        <activity
            android:name=".signupactivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginpage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".individual_listing"
            android:exported="true" />
        <activity
            android:name=".SplashPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.Chat"
            android:exported="false" />
        <activity
            android:name=".ChatList"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>